.header-logo {
	float: left;
	margin-right: 8px;
	margin-top: 8px;
}

.header-title {
	float: left;
	font-size: 42px;
	margin-bottom: 4px;
	margin-right: 24px;
	margin-top: 8px;
}

.header-subtitle {
	float: left;
}

.container-header {
	margin-bottom: 0;
	margin-top: 16px;
}

.container-subheader {
	margin-bottom: 8px;
	margin-top: 0;
}

.hero {
	width: 100%;
}

/* Nav */
.nav {
	position: absolute;
	top: 0;
	right: 2px;
	z-index: 100;
	width: 100%;
}

.nav-ul,
.nav-li {
	display:none;
	width: 100%;
}

.nav-ul {
	border: 2px solid #226;
	margin-top: 70px;
	text-align: center;
}

.nav-ul.open,
.nav-ul.open .nav-li {
	display: block;
}

.nav-ul .a {
	display: inline-block;
	text-decoration: none;
	width: 100%;
}

.nav-li {
	background-color: #fff;
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	color: #226;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: .04em;
	line-height: 1.4em;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: background-color 600ms ease-out, color 600ms ease-out;
}

.nav-li:hover {
	background-color: #F2F2F9;
	border: 2px solid #226;
	cursor: pointer;
	margin-left: -2px;
	transition: background-color 600ms ease-out, color 600ms ease-out;
}

.nav-li:first-child {
	border-top: 2px solid #226;
	margin-top: -2px;
}

.nav-li:last-child {
	border-bottom: 2px solid #226;
	margin-bottom: -2px;
}

/* Menu Icon */
#menu-icon-container {
	cursor: pointer;
	fill: #226;
	float: right;
	padding: 24px 0 16px 16px;
}
#menu-label, #menu-icon { display: block; }
#menu-label {
	float: left;
	font-size: 1em;
	margin-right: 9px;
	vertical-align: text-bottom;
	letter-spacing: .15em;
}
#menu-icon {
	float: left;
	margin-top: 1px;
	width: 28px;
}


hr {
	margin-bottom: 8px;
	margin-top: 16px;
}

figcaption {
	display: none;
}

.primary-button {
	background-color: #226;
	background-image: none;
	border: 2px solid #226;
	box-shadow: -1px 2px 4px rgba(34, 34, 102, .16);
	color: #fff;
	font-size: 20px;
	float: right;
	margin-bottom: 24px;
	margin-left: 8px;
	text-shadow: none;
	transition: background-color 160ms linear, text-shadow 160ms linear;
}

.loans-button {
	background-color: #fff;
	background-image: none;
	border: 2px solid #226;
	box-shadow: -1px 2px 4px rgba(34, 34, 102, .16);
	color: #226;
	font-size: 20px;
	float: right;
	margin-bottom: 24px;
	text-shadow: none;
	transition: background-color 160ms linear, text-shadow 160ms linear;
}

.primary-button:active,
.primary-button:focus,
.primary-button:hover {
	background-color: #fff;
	background-image: none;
	border: 2px solid #226;
	box-shadow: -1px 3px 6px rgba(34, 34, 102, .32);
	color: #226;
	text-shadow: none;
	transition: background-color 160ms linear 40ms, box-shadow 200ms linear;
}

.loans-button:active,
.loans-button:focus,
.loans-button:hover {
	background-color: #226;
	background-image: none;
	border: 2px solid #226;
	box-shadow: -1px 3px 6px rgba(34, 34, 102, .32);
	color: #fff;
	text-shadow: none;
	transition: background-color 160ms linear 40ms, box-shadow 200ms linear;
}

.banner {
	background-image: url('../images/calc.jpg');
	background-position: center;
	background-size: 620px 120px;
	border: 1px solid #226;
	box-sizing: border-box;
	margin: auto;
	height: 120px;
	width: 100%;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

.border {
	border-style: solid;
	border-width: 1px;
	color: #226;
}

.header-link {
	text-decoration: none;
}

.loans-header {
	margin-top: 8px;
}

.loans {
	margin-top: 16px;
}

.input-group {
	display: inline-block;
	float: left;
	padding-left: 4px;
}

.input-group:first-of-type {
	padding-left: 0;
}

.loan-label {
	float: left;
	font-size: 16px;
	margin-left: 24px;
	margin-right: 8px;
	margin-top: 14px;
}

.loan-label:first-of-type {
	margin-left: 0;
}

legend.loan-label:first-of-type {
	margin-left: 24px;
}

legend.loan-label {
	margin-top: 16px;
}

.loan-input {
	float: left;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 16px;
	margin-right: 8px;
	margin-top: 8px;
}

.input-decorator {
	display: inline-block;
	float: left;
	font-size: 24px;
	margin-left: 0;
	margin-right: 4px;
	margin-top: 16px;
}

.loan-input {
	border: 1px solid #226;
	border-radius: 4px;
	box-sizing: border-box;
	color: #226;
	height: 36px;
	margin-right: 8px;
	min-width: 4em;
	padding: 8px 8px 8px 0;
	text-align: right;
	width: auto;
}

select.loan-input {
	padding-bottom: 5px;
	padding-top: 5px;
}

.loan-input-principal {
	width: 112px;
}

.loan-input-rate,
.loan-input-years {
	width: 72px;
}

.loan-input:focus {
	outline: -webkit-focus-ring-color auto 5px;
}


.loans-variables {
	margin-top: 8px;
}

fieldset {
	margin-bottom: 0;
}

.frequency-radio {
	float: left;
	margin-bottom: 8px;
	margin-top: 8px;
}

.frequency-option {
	border-bottom: 1px solid #226;
	border-left: 1px solid #226;
	border-top: 1px solid #226;
	color: #226;
	float: left;
	font-size: 16px;
	padding-left: 4px;
}

.frequency-option:first-of-type {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.frequency-option:last-of-type {
	border-bottom-right-radius: 4px;
	border-right: 1px solid #226;
	border-top-right-radius: 4px;
}

.frequency-option-input {
	display: inline-block;
	float: left;
	height: 28px;
	width: 22px;
}

.frequency-option-label {
	float: left;
	font-size: 16px;
	padding-right: 8px;
	padding-top: 8px;
}

.button-remove {
	border: 0;
	background-image: none;
	background-color: #fff;
	color: #8F1F25;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 8px;
	margin-top: 6px;
	overflow: hidden;
	transition: color 240ms linear, text-shadow 240ms linear;
	white-space: nowrap;
	width: 42px;
}

.button-remove:active,
.button-remove:focus,
.button-remove:hover {
	border: 0;
	background-image: none;
	background-color: #fff;
	color: #400003;
	font-size: 18px;
	font-weight: 600;
	text-shadow: -1px 2px 4px rgba(64, 0, 3, .1);
	transition: color 240ms linear, text-shadow 240ms linear;
}

.button-remove-icon {
	height: 24px;
	margin-right: 8px;
	vertical-align: middle;
	width: 24px;
}

#loans-calculate-button {
	float: right;
}

.formula {
	width:100%;
}

.results {
	font-size: 16px;
}

.container .footer {
	box-sizing: border-box;
	margin: 0 24px 32px 0;
	padding: 8px;
}

/* Resources */
.resources {
	margin-top: 8px;
}

.resources-link-wrapper .p {
	margin-top: 8px;
}

.resources-link-wrapper .resources-link {
	color: #226;
	font-size: 16px;
}

.phone-number {
	display: block;
	font-size: 16px;
	margin-top: 4px;
}
.address {
	font-size: 16px;
}

/* Desktop Nav */
@media (min-width: 750px) {
	.primary-header .ten.columns {
		margin-top: 12px;
	}

	#menu-icon-container,
	#menu-label,
	#menu-icon {
		display: none;
	}

	.nav {
		width: auto;
	}

	.nav-ul {
		border: 0;
	}

	.nav-ul, .nav-li {
		display: block;
		margin: 0 10px 0 0;
		width: auto;
	}

	.nav-li {
		border-bottom: 2px solid #fff;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		box-sizing: border-box;
		display: inline-block;
		float: left;
		list-style: none;
		margin-right: 0;
		margin-top: 0;
		text-align: center;
		transition: color 160ms linear;
		padding: 28px 12px 26px;
	}

	.nav-li:first-child {
		border-top: 0;
		margin-top: 0;
	}

	.nav-li:last-child {
		border-bottom: 2px solid #fff;
		margin-bottom: 0;
	}

	.nav-li:hover {
		border-bottom: 2px solid #226;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		margin-left: 0;
	}

	.nav-ul .a {
		width: auto;
	}

	.container .footer {
		margin-left: 10px;
	}
}

@media only screen and (max-width: 767px) {
	.header-logo {
		margin-right: 24px;
	}

	.loan-label {
		display: block;
		margin-left: 0;
		margin-top: 16px;
	}

	legend.loan-label:first-of-type {
		margin-left: 0;
	}

	.frequency-radio {
		margin-top: 8px;
	}

	.frequency-option {
		box-sizing: border-box;
		margin-bottom: 0;
	}
	.frequency-option-label {
		font-size: 14px;
	}
}